@charset "utf-8";
/* CSS pc */
@media only screen  
and (min-width : 1224px) {    
	#box{
		position: relative;
		width: 50%;
		
		border: 2px #09F solid;
		z-index: 888;
		margin: 0 auto;
		display: block;
		}
	#box:after{
		content: "";
		display: block;
		clear: both;
		}
	#chooseyear, #choosemonth, #backtoday {
		width: 21%;
		margin-left: 1%;
		margin-right: 1%;
		margin-top: 2%;
		border: 1px #000 solid;
		box-shadow: 1px 1px 1px #888888 inset;
		float: left;
		z-index: 999;
		
		height: 25px;
		font-family: arial;
		font-size: 14px;
		text-align: center;
		line-height: 25px;
		}
	#backtoday{
		background: #EEE;
		box-shadow: 1px 1px 1px #FFF inset;
		}
	#chooseyear:hover, #choosemonth:hover, #backtoday:hover{
		cursor: pointer;
		}
	#titleyear{
		display:inline;
		}
	#titlemonth{
		display:inline;
		}
	#listyear, #listmonth{
		background: #EEE;
		position: absolute;
		display: none;
		width: 20%;
		height: 312px;
		overflow-y: scroll;
		overflow-x: hidden;
		z-index: 1000;
		}
	#listyear .currentyear{
		background: #AAA;
		}
	#listyear .currentmonth{
		background: #AAA;
		}
	#listyear li,#listmonth li{
		margin-left: -30px;
		list-style-type: none;
		text-aligh: center;
		}
	#listyear li:hover,#listmonth li:hover{
		cursor: pointer;
		background: #BBB;
		}
	.rightlisticon{
		float: right;
		height: 100%;
		width: 15%;
		background: #EEE;
		}
	.leftlisticon{
		float: left;
		height: 100%;
		width: 15%;
		background: #EEE;
		}
	.downlisticon{
		float: right;
		height: 100%;
		width: 15%;
		background-color: #EEE;
		}
			
	#showboard{
		float: right;
		width:28%;
		height:100%;
		height: 500px;
		background: #09F;
		font-family: arial;
		color: #FFF;
		}
	#boardtitle{
		margin-top: 10%;
		font-size: 14px;
		text-align: center;
		}
	#bigdate{
		width: 40%;
		margin-left: 30%;
		margin-top: 10%;
		background: rgb(255,184,0);
		font-size: 65px;
		text-align: center;
		}
	
	#lunardate{
		margin-top: 5%;
		font-size: 14px;
		text-align: center;
		}
	#lunaryear{
		margin-top: 5%;
		font-size: 14px;
		text-align: center;
		}
	
	.line{
		width: 80%;
		margin-top: 10%;
		margin-left: 10%;
		height: 2px;
		background: rgba(255,255,255,0.8);
		}
	#jinji{
		text-align: center;
		margin-top: 10%;
		font-size: 35px;
		}
	#mobileboardtitle{
		display: none;
		}
	#wrap{
		float: left;
		z-index: 1;
		margin-top: 20px;
		margin-left: 6px;
		width:68%;
		height: 420px;;
		background: #999;
		}
	#calendar{
		width: 100%;
		height: 100%;
		background: #FFF;
		}	
	.calendarday{
		width: 14.2%;
		background: rgba(0,204,204,1);
		}
	.notthismon{
		width: 14.2%;
		background: rgba(0,204,204,0.4);
		}
	.weektitle{
		width: 14.2%;
		height: 5%;
		background: #0CC;
		}
	.week{
		text-align: center;
		}
	.solar{
		text-align: center;
		}
	.lunar{
		text-align: center;
		font-size: 12px;
		}
	.holiday{
		width: 80%;
		margin-left: 10%;
		text-align: center;
		font-size: 12px;
		color: red;
		white-space:nowrap; 
		overflow:hidden;
		text-overflow:ellipsis;
		}
	.calendarday:hover,.notthismon:hover{
		cursor: pointer;
		}
	.weekend{
		color: red;
		}
	.clickedtd{
		background: rgba(155,155,155,0.2);
		}
	.today{
		background: rgba(255,0,0,0.2);
		}
}	

